@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
}

/* Comienzo Body */
.Body {}


/* Comienzo Navbar */
.navbar {
  height: 65px;
}

.navbar .logo {
  height: 32px;
  width: 132px;
}

.navbar .logo__img {
  height: 28px;
  width: 100px;
}

.navbar .menu {}

.navbar .menu .menu__item {}

.navbar .menu .menu__item--link {}

/* Comienzo Header */
.Header {
  height: 100vh;
}

.Header .section {}

.Header .section .article {}

.Header .section .article .title {}

.Header .section .article .paragraph {}

.Header .section .article .form {}

.Header .section .article .picture {}

.Header .section .article .picture .picture__img {}

/* Comienzo Aside */
.Aside {}

/* Comienzo Main */
.Main {
  height: 65vh;
}

.Main .section {}

.Main .section .article {}

.Main .section .article .container {}

.Main .section .article .container .title {}

.Main .section .article .container .paragraph {}

.Main .section .article .container .link {}

.Main .section .article .container .cite {}

.Main .section .article .container .cite .card {}

.Main .section .article .container .cite .card .card__avatar {}

.Main .section .article .container .cite .card .card__avatar .card__avatar-img {}

.Main .section .article .container .cite .card .card__name {}

.Main .section .article .container .cite .card .card__job {}

.Main .section .article .picture {}

.Main .section .article .picture .picture__img {}

.Main .section .article {}

.Main .section .article .title {}

.Main .section .article .paragraph {}

.Main .section .article .form {}

/* Comienzo Footer */
.Footer {
  height: 50vh;
}

.Footer .section {}

.Footer .section .article {}

.Footer .section .article .logo {}

.Footer .section .article .logo .logo__img {}

.Footer .section .article .menu {}

.Footer .section .article .menu .menu__item {}

.Footer .section .article .menu .menu__item .menu__item--icon {}

.Footer .section .article .menu .menu__item .menu__item--icon .img {}

.Footer .section .article .menu .menu__item .menu__item--link {}
